@model UpdateProductVm

<div class="container">
	<div class="row">
		<div class="grid-margin">
			<form class="forms-sample" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label asp-for="Name">Name</label>
					<input asp-for="Name" type="text" class="form-control" id="exampleInputUsername1"
						   placeholder="Name">
					<span class="text-danger" asp-validation-for="Name"></span>
				</div>
				<div class="form-group">
					<label asp-for="Price">Price</label>
					<input asp-for="Price" type="text" class="form-control" id="exampleInputUsername1"
						   placeholder="Price">
					<span class="text-danger" asp-validation-for="Price"></span>
				</div>
				<div class="form-group">
					<label asp-for="Description">Description</label>
					<input asp-for="Description" type="text" class="form-control" id="exampleInputUsername1"
						   placeholder="Description">
					<span class="text-danger" asp-validation-for="Description"></span>
				</div>
				<div class="form-group">
					<select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Category, nameof(Category.Id), nameof(Category.Name)))">
					</select>
					<span class="text-danger" asp-validation-for="CategoryId"></span>
				</div>
				<div class="form-group">
					<select asp-for="SizeIds" asp-items="@(new SelectList(ViewBag.Size, nameof(Size.Id), nameof(Size.Name)))">
					</select>
					<span class="text-danger" asp-validation-for="SizeIds"></span>
				</div>
				<div class="form-group">
					<select asp-for="MaterialIds" asp-items="@(new SelectList(ViewBag.Material, nameof(Material.Id), nameof(Material.Name)))">
					</select>
					<span class="text-danger" asp-validation-for="MaterialIds"></span>
				</div>
				<div class="form-group">
					<select asp-for="ColorIds" asp-items="@(new SelectList(ViewBag.Color, nameof(Color.Id), nameof(Color.Name)))">
					</select>
					<span class="text-danger" asp-validation-for="ColorIds"></span>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col">
							<label asp-for="MainImage">Main Image</label>
							<input asp-for="MainImage" class="form-control">
							<span class="text-danger" asp-validation-for="MainImage"></span>
						</div>
						<div class="col">
							<label asp-for="AdditionalImages">Additional Images</label>
							<input asp-for="AdditionalImages" class="form-control">
							<span class="text-danger" asp-validation-for="AdditionalImages"></span>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						@foreach (var item in Model.Images.Where(i => i.IsMain == false))
						{
							<div class="col-6 col-md-4">
								<div class="img-hover">
									<img src="~/Upload/@item.ImgUrl" class="img-fluid" />
									<input type="hidden" value="@item.Id" name="KeepImages"/>
								</div>
							</div>
						}
					</div>
				</div>
				<button type="submit" class="btn btn-primary me-2">Submit</button>
				<button class="btn btn-light" asp-action="index">Cancel</button>
			</form>
		</div>
	</div>
</div>

<script>
	let img = document.querySelectorAll(".img-hover");

	img.forEach((item) => {
		item.addEventListener("click", () => {
			item.parentElement.remove();
		});
	});
</script>